@use "./vars" as*;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $color1;
    list-style: none;
}

body {
    background-color: $color1;
}

h2 {
    text-align: center;
    padding: 1rem;
    font-family: $fuente-subtitulo;
    font-size: 4rem;
    background-color: $color4;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    text-shadow: 0px 0px 30px #727272d2;
    box-shadow: 0 0 15px #727272d2;
}

h3 {
    text-align: center;
    font-family: $fuente-subtitulo;
    font-size: 3rem;
    background-color: $color4;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    text-shadow: 0px 0px 30px #727272d2;
    box-shadow: 0 0 15px #727272d2;
}

p {
    font-family: $fuente-subtitulo;
    font-size:xx-large;
}

.top {
    main {
        nav {
            background-color: $color2;
            padding: 0.3rem;
            & {
                transition: 0.5s;
            }
            .barra {
                display: flex;
                flex-direction: row;
                background-color: $color2;
                justify-content: space-between;
                align-items: center;
                height: 12vh;
                margin-right: 2rem;
                max-height: 65px;
                background-color: #d288e700;
                & {
                    transition: 0.5s;
                }
                .logo {
                    border-radius: 100%;
                    height: 5rem;
                    width: 5rem;
                    margin-top: 1rem;
                    box-shadow: 0 0 12px #000000d2;
                }
                .boton {
                    color: $color1;
                    background-color: #d288e700;
                    font-family: $fuente-nav;
                    font-size:larger;
                    list-style: none;
                    text-decoration: none;
                    text-shadow: 0px 0px 15px #000000d2;
                    & {
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}

.titulo {
    background-color: $color4;
    color: black; //$color3;
    text-align: center;
    padding: 1rem;
    font-size: 6rem;
    font-family: $fuente-titulo;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    box-shadow: 0 0 15px #727272d2;
    text-shadow: 0px 0px 40px #727272d2;
    & {
        transition: 0.7s;
    }
}

.presentacion {
    text-align: center;
    background-color: $color4;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    font-size: 3rem;
}

.content {
    padding: 1rem;
    .img-fluid:hover {
        transform: scale(1.05);
        transition: 0.5s;
    }
}
// footer general

footer {
    background-color: $color3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-blend-mode: overlay;
    background-position: bottom;
    padding: 0.4rem;
    box-shadow: 0 0 10px #727272d2;
    max-height: 6.5rem;
    .copy {
        display: flex;
        flex-direction: row;
        justify-self: start;
        justify-items: center;
        align-items: center;
        background-color: $color3;
    }
    .redes {
        background-color: $color3;
        display: flex;
        column-gap: 3.5rem;
        align-items: center;
        .ftr-img {
            background-color: $color3;
            display: flex;
            flex-direction: row;
            justify-self: end;
            gap: 1rem;
        }
    }
}
