// index

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F7EFFA;
    list-style: none;
    // @include aaa {
    //     margin: 0;
    //     padding: 0;
    //     box-sizing: border-box;
    // }
}

body {
    margin: 0;
    padding: 0;
    background-color: #F7EFFA;
    box-sizing: border-box;
    h2 {
        text-align: center;
        padding: 1rem;
        font-family: "Cookie", cursive;
        font-size: 4rem;
        background-color: #FDC9DF;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
    }

    .top {
        margin: 0;
        padding: 0;
        background-color: #F7EFFA;
        box-sizing: border-box;
        main {
            nav {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 15vh;
                background-color: #D288E7;
                padding: 0.5rem;
                max-width: 100%;
                max-height: 75px;
                .logo {
                    position: relative;
                    justify-items: start;
                    border-radius: 100%;
                }
                .barra {
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    margin-right: 1rem;
                    margin-top: 1rem;
                    width: 100%;
                    background-color: #D288E7;
                    gap: 2rem;
                    // @include aaa {
                    //     justify-content: space-around;
                    //     justify-items: center;
                    //     flex-direction: row;
                    //     gap: 0px;
                    //     max-width: 80%;
                    // }
                    .boton {
                        color: #F7EFFA;
                        background-color: #D288E7;
                        font-family: "Playwrite DE Grund", cursive;
                        font-size: 1.2rem;
                        list-style: none;
                        text-decoration: none;
                        // @include aaa {
                        //     height: 8px;
                        //     width: 8px;
                        // }
                    }
                }
            }
        }
    }

    .titulo {
        background-color: #FDC9DF;
        color: black; //$color3;
        text-align: center;
        padding: 1rem;
        font-size: 6rem;
        font-family: "Cookie", cursive;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
    }

    .carrusel {
        background-color: #FDC9DF;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10rem;
        margin: 4rem;
        // border-radius: 10%;
        padding: 0rem;
        // @include aaa {
        //     display: flex;
        //     flex-direction: column;
        // }
        .img {
            // border-radius: 10%;
            // min-width: 10%; //ver esto
            // min-height: 10%;
            height: 10vw;
            width: 10vh;
        }
        .img-index {
            border-radius: 10%;
            // max-width: 10%; //ver esto
            // max-height: 10%;
            padding: 0rem;
            box-shadow: 0 0 20px #727272d2;
        }
        .caja {
            background-color: #FDC9DF;
            display: flex;
            flex-direction: row;
            width: 350px;
            height: 500px;
            border-radius: 20px;
            padding: 1rem;
            box-shadow: 0 0 20px #727272d2;
            overflow: hidden;
            justify-content: center;
            margin-top: 2rem;
            .presentacion {
                padding: 1rem;
                // justify-content:space-evenly;
                // line-height: 3rem;
                font-family: "Cookie", cursive;
                font-size: 1.6rem;
                color: black;
                text-align: center;
                background-color: #FDC9DF;                
            }
        }
        // .video {
        //     justify-content: bottom;
        //     max-width: 10vh;
        //     max-height: 30vh;
        // }
    }

    // footer general

    footer {
        background-color: #FAA3E6;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-blend-mode: overlay;
        background-position: bottom;
        padding: 1rem;
        .copy {
            display: flex;
            flex-direction: row;
            justify-self: start;
            justify-items: center;
            align-items: center;
            background-color: #FAA3E6;
        }
        .redes {
            background-color: #FAA3E6;
            display: flex;
            column-gap: 3.5rem;
            .ftr-img {
                background-color: #FAA3E6;
                display: flex;
                flex-direction: row;
                justify-self: end;
                gap: 1rem;
            }
        }
    }
}