// ingresar.html y contacto.html

@use "./vars" as*;

.formulario {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 12rem;
    .mb-3 {
        width: 20rem;
        .form-check-input {
            display:flex;
            flex-direction: row;
            row-gap: 0px;
        }
        .form-check-label {
            display:flex;
            flex-direction: row;
            row-gap: 0px;
            font-family: $fuente-nav;
            box-shadow: 0 0 15px #727272d2;
        }
        .form-label {
            font-family: $fuente-nav;
        }
    }
    .btn-primary {
        background-color: #D288E7;
    }
    .map {
        align-self: center;
    }
}

.ingresar {
    justify-self: center;
    width: 40%;
    .form-check-input {
        font-family: $fuente-nav;
    }
    .form-check-label {
        font-family: $fuente-nav;
    }
    .form-label {
        font-family: $fuente-nav;
    }
.btn-primary {
    background-color: #D288E7;
    }
}