    // productos.html

@use "./vars" as*;

.catalogo {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 250px);
    list-style: none;
    text-decoration: none;
    row-gap: 5rem;
    padding-top: 2rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-bottom: 2rem;
    justify-content:center; /*Horizontal*/
    align-items: center; /*Vertical*/
    overflow: hidden;
    .cornalina {
        grid-column: 2/3;
        grid-row: 1;
    }
    .cornalina-texto {
        grid-column: 4/13;
        grid-row: 1;
        justify-content: center;
        text-align:start;
        font-family: $fuente-subtitulo;
        font-size: 1.7rem;
        font-weight: bolder;
    }
    .cuarzo-rosa {
        grid-column: 11/12;
        grid-row: 2;
    }

    .cuarzorosa-texto {
        grid-column: 1/10;
        grid-row: 2;
        justify-content: center;
        text-align:end;
        font-family: $fuente-subtitulo;
        font-size: 1.7rem;
        font-weight: bolder;
    }
    
    .cuarzo-verde {
        @extend .cornalina;
        grid-row: 3;
    }
    
    .cuarzoverde-texto {
        @extend .cornalina-texto;
        grid-row: 3;
    }

    .onix-cielo {
        @extend .cuarzo-rosa;
        grid-row: 4;
    }
    
    .onixcielo-texto {
        @extend .cuarzorosa-texto;
        grid-row: 4;
    }
    
    .onix-negro {
        @extend .cornalina;
        grid-row: 5;
    }
    
    .onixnegro-texto {
        @extend .cornalina-texto;
        grid-row: 5;
    }

    .esmeralda {
        @extend .cuarzo-rosa;
        grid-row: 6;
    }

    .esmeralda-texto {
        @extend .cuarzorosa-texto;
        grid-row: 6;
    }
    
    .selenita {
        @extend .cornalina;
        grid-row: 7;
    }

    .selenita-texto {
        @extend .cornalina-texto;
        grid-row: 7;
    }

    .sodalita {
        @extend .cuarzo-rosa;
        grid-row: 8;
    }

    .sodalita-texto {
        @extend .cuarzorosa-texto;
        grid-row: 8;
    }

    .turmalina {
        @extend .cornalina;
        grid-row: 9;
    }

    .turmalina-texto {
        @extend .cornalina-texto;
        grid-row: 9;
    }
}