//variables globales

//paleta de colores
$color1: #F7EFFA;
$color2: #D288E7;
$color3: #FAA3E6;
$color4: #FDC9DF;
$shadows: 0 0 20px #727272d2;

//fuentes

$fuente-titulo: "Cookie", cursive;
$fuente-nav: "Playwrite DE Grund", cursive;
