//variables globales

//paleta de colores
$color1: #F7EFFA;
$color2: #D288E7;
$color3: #FAA3E6;
$color4: #FDC9DF;
$color5: #ffd1d4;
$shadows: 0 0 20px #727272d2;

//fuentes

$fuente-titulo: "Lavishly Yours", cursive;
$fuente-subtitulo: "Tangerine", cursive;
$fuente-nav: "Red Hat Display", sans-serif;
