* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F7EFFA;
  list-style: none;
}

body {
  background-color: #F7EFFA;
}

h2 {
  text-align: center;
  padding: 1rem;
  font-family: "Tangerine", cursive;
  font-size: 4rem;
  background-color: #FDC9DF;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  text-shadow: 0px 0px 30px rgba(114, 114, 114, 0.8235294118);
  box-shadow: 0 0 15px rgba(114, 114, 114, 0.8235294118);
}

h3 {
  text-align: center;
  font-family: "Tangerine", cursive;
  font-size: 3rem;
  background-color: #FDC9DF;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  text-shadow: 0px 0px 30px rgba(114, 114, 114, 0.8235294118);
  box-shadow: 0 0 15px rgba(114, 114, 114, 0.8235294118);
}

p {
  font-family: "Tangerine", cursive;
  font-size: xx-large;
}

.top main nav {
  background-color: #D288E7;
  padding: 0.3rem;
}
.top main nav {
  transition: 0.5s;
}
.top main nav .barra {
  display: flex;
  flex-direction: row;
  background-color: #D288E7;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  margin-right: 2rem;
  max-height: 65px;
  background-color: rgba(210, 136, 231, 0);
}
.top main nav .barra {
  transition: 0.5s;
}
.top main nav .barra .logo {
  border-radius: 100%;
  height: 5rem;
  width: 5rem;
  margin-top: 1rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.8235294118);
}
.top main nav .barra .boton {
  color: #F7EFFA;
  background-color: rgba(210, 136, 231, 0);
  font-family: "Red Hat Display", sans-serif;
  font-size: larger;
  list-style: none;
  text-decoration: none;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8235294118);
}
.top main nav .barra .boton {
  transition: 0.5s;
}

.titulo {
  background-color: #FDC9DF;
  color: black;
  text-align: center;
  padding: 1rem;
  font-size: 6rem;
  font-family: "Lavishly Yours", cursive;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  box-shadow: 0 0 15px rgba(114, 114, 114, 0.8235294118);
  text-shadow: 0px 0px 40px rgba(114, 114, 114, 0.8235294118);
}
.titulo {
  transition: 0.7s;
}

.presentacion {
  text-align: center;
  background-color: #FDC9DF;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  font-size: 3rem;
  margin-top: 1.5rem;
}

.content {
  padding: 1rem;
}
.content .img-fluid:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

footer {
  background-color: #FAA3E6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-blend-mode: overlay;
  background-position: bottom;
  padding: 0.4rem;
  box-shadow: 0 0 10px rgba(114, 114, 114, 0.8235294118);
  max-height: 6.5rem;
  margin-top: 0.5rem;
}
footer .copy {
  display: flex;
  flex-direction: row;
  justify-self: start;
  justify-items: center;
  align-items: center;
  background-color: #FAA3E6;
}
footer .redes {
  background-color: #FAA3E6;
  display: flex;
  column-gap: 3.5rem;
  align-items: center;
}
footer .redes .ftr-img {
  background-color: #FAA3E6;
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap: 1rem;
}

.catalogo {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 250px);
  list-style: none;
  text-decoration: none;
  row-gap: 5rem;
  padding-top: 2rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-bottom: 2rem;
  justify-content: center; /*Horizontal*/
  align-items: center; /*Vertical*/
  overflow: hidden;
}
.catalogo .cornalina, .catalogo .turmalina, .catalogo .selenita, .catalogo .onix-negro, .catalogo .cuarzo-verde {
  grid-column: 2/3;
  grid-row: 1;
}
.catalogo .cornalina-texto, .catalogo .turmalina-texto, .catalogo .selenita-texto, .catalogo .onixnegro-texto, .catalogo .cuarzoverde-texto {
  grid-column: 4/13;
  grid-row: 1;
  justify-content: center;
  text-align: start;
  font-family: "Tangerine", cursive;
  font-size: 1.8rem;
  font-weight: bolder;
}
.catalogo .cuarzo-rosa, .catalogo .sodalita, .catalogo .esmeralda, .catalogo .onix-cielo {
  grid-column: 11/12;
  grid-row: 2;
}
.catalogo .cuarzorosa-texto, .catalogo .sodalita-texto, .catalogo .esmeralda-texto, .catalogo .onixcielo-texto {
  grid-column: 1/10;
  grid-row: 1.8;
  justify-content: center;
  text-align: end;
  font-family: "Tangerine", cursive;
  font-size: 2rem;
  font-weight: bolder;
}
.catalogo .cuarzo-verde {
  grid-row: 3;
}
.catalogo .cuarzoverde-texto {
  grid-row: 3;
}
.catalogo .onix-cielo {
  grid-row: 4;
}
.catalogo .onixcielo-texto {
  grid-row: 4;
}
.catalogo .onix-negro {
  grid-row: 5;
}
.catalogo .onixnegro-texto {
  grid-row: 5;
}
.catalogo .esmeralda {
  grid-row: 6;
}
.catalogo .esmeralda-texto {
  grid-row: 6;
}
.catalogo .selenita {
  grid-row: 7;
}
.catalogo .selenita-texto {
  grid-row: 7;
}
.catalogo .sodalita {
  grid-row: 8;
}
.catalogo .sodalita-texto {
  grid-row: 8;
}
.catalogo .turmalina {
  grid-row: 9;
}
.catalogo .turmalina-texto {
  grid-row: 9;
}

.etiquetas {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 5rem;
  column-gap: 8rem;
  padding: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.etiquetas .card:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.etiquetas .card .card-img-top {
  height: 300px;
  width: auto;
  box-shadow: 0 0 15px rgba(114, 114, 114, 0.8235294118);
}
.etiquetas .card .card-body {
  box-shadow: 0 0 15px rgba(114, 114, 114, 0.8235294118);
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
}
.etiquetas .card .card-body .btn-primary {
  background-color: #D288E7;
}

.formulario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 12rem;
  margin: 1.8rem;
}
.formulario .mb-3 {
  width: 20rem;
}
.formulario .mb-3 .form-check-input {
  display: flex;
  flex-direction: row;
  row-gap: 0px;
}
.formulario .mb-3 .form-check-label {
  display: flex;
  flex-direction: row;
  row-gap: 0px;
  font-family: "Red Hat Display", sans-serif;
  box-shadow: 0 0 15px rgba(114, 114, 114, 0.8235294118);
}
.formulario .mb-3 .form-label {
  font-family: "Red Hat Display", sans-serif;
}
.formulario .btn-primary {
  background-color: #D288E7;
}
.formulario .map {
  align-self: center;
}

.ingresar {
  justify-self: center;
  width: 50%;
  padding: 7.5rem;
}
.ingresar .form-check-input {
  font-family: "Red Hat Display", sans-serif;
}
.ingresar .form-check-label {
  font-family: "Red Hat Display", sans-serif;
}
.ingresar .form-label {
  font-family: "Red Hat Display", sans-serif;
}
.ingresar .btn-primary {
  background-color: #D288E7;
}

@media (min-width: 320px) and (max-width: 900px) {
  nav .barra {
    background-color: rgba(210, 136, 231, 0);
    flex-flow: row center;
    overflow: auto;
    padding: 0.5rem;
    margin-left: 0.5rem;
    font-size: smaller;
  }
  nav .barra .logo {
    display: none;
  }
  nav .barra .boton {
    font-size: xx-small;
  }
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .formulario .map {
    display: none;
  }
}
footer .copy {
  font-size: larger;
}
footer .redes {
  column-gap: 0.2rem;
}
footer .redes .ftr-img {
  width: 80%;
  gap: 0.3rem;
  align-items: center;
  background-color: rgba(240, 248, 255, 0);
}
footer .redes a {
  background-color: #FAA3E6;
}

@media (min-width: 389px) and (max-width: 1278px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav .barra {
    background-color: rgba(210, 136, 231, 0);
    flex-flow: row center;
    overflow: auto;
    padding: 0.3rem;
    margin-left: 0.3rem;
    font-size: small;
  }
  nav .barra .logo {
    display: none;
  }
  nav .barra .boton {
    font-size: xx-small;
  }
  .catalogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .catalogo .cornalina-texto {
    text-align: center;
  }
  .catalogo .cuarzorosa-texto {
    text-align: center;
  }
  .catalogo .cuarzoverde-texto {
    text-align: center;
  }
  .catalogo .onixcielo-texto {
    text-align: center;
  }
  .catalogo .onixnegro-texto {
    text-align: center;
  }
  .catalogo .esmeralda-texto {
    text-align: center;
  }
  .catalogo .selenita-texto {
    text-align: center;
  }
  .catalogo .sodalita-texto {
    text-align: center;
  }
  .catalogo .turmalina-texto {
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 1250px) {
  .etiquetas {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 3rem;
    column-gap: 0.5rem;
    padding: 3rem;
  }
  .etiquetas .card {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 1024px) and (max-width: 1700px) {
  .cornalina {
    grid-column: 1/3;
  }
  .cuarzo-rosa {
    grid-column: 7/9;
  }
  .cuarzo-verde {
    grid-column: 1/3;
  }
  .onix-cielo {
    grid-column: 7/9;
  }
  .onix-negro {
    grid-column: 1/3;
  }
  .esmeralda {
    grid-column: 7/9;
  }
  .selenita {
    grid-column: 1/3;
  }
  .sodalita {
    grid-column: 7/9;
  }
  .turmalina {
    grid-column: 1/3;
  }
}
@media (min-width: 1400px) {
  .etiquetas {
    column-gap: 9rem;
    padding: 4rem;
  }
}

/*# sourceMappingURL=style.css.map */
