body {
    background-image: url("./img/font2.jpg");
    background-size: 1920px 1080px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    background-color: #EEC8E0/*rgb(57, 47, 90)*/;
    background-blend-mode: overlay;
}

h1 {
    /* background-color: #ffffff; */
    color: rgb(255, 0, 221);
    text-align: center;
    padding: 1rem;
    font-family: "Dancing Script", cursive;
    font-size: 6rem;
}

h2 {
    text-align: center;
    padding: 1rem;
    font-family: "Dancing Script", cursive;
    font-size: 2.5rem;
}

section {
    background-color: #f705ff85;
    padding: 1rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("./img/font2.jpg");
    background-size: 1920px 1080px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.caja {
    width: 200vh;
    height: 50vh;
    background-color: #F092DD/*rgba(0, 247, 247, 0.596)*/;
    background-blend-mode:screen;
    text-align: center;
    border: 2px solid rgba(227, 0, 247, 0.842);
    margin: 0 auto;
    line-height: 100px;
}

.barra {
    /* background-color: #f700f798; */
    /*background-blend-mode: overlay; */ /*REVER*/
    display: flex;
    flex-direction: row;
    justify-content: space-around; /*alinea los elementos que contiene el flex al ancho del contenedor y les aplica el espacio para que queden simétricos*/
    padding: 1rem;
    text-align: center;
    font-family:"Winky Sans", sans-serif;
    image-rendering: "#";
    list-style: none;
    text-decoration: none;
}

.catalogo {
    display: flex;
    /* align-items:center; revisar porque no hay mucha diferencia entre uno y otro estilo, puede ser el justify content porque el catálogo no tiene elementos hijos */
    /* padding: 1rem;
    text-align: center; */
    font-family:"Winky Sans", sans-serif;
    list-style: none;
    text-decoration: none;
    /* position: relative; */
    justify-content: center; /*Horizontal*/
    align-items: center; /*Vertical*/
}

.presentacion {
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-image: url("./img/font2.jpg"); */
    background-size: 1920px 1080px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

}

footer {
    background-color: #392F5A/*#f700eb8c*/;
    background-blend-mode: overlay;
    background-position: bottom;
    color: rgb(255, 0, 221);
    padding: 1rem;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("./img/font2.jpg");
    background-size: 1920px 1080px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

/* .productos {
    size: 10px 20px;
/* } /*No*/

/* Paleta de colores:
#392F5A
#F092DD
#FFAFF0
#EEC8E0
*/