* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./img/font2.jpg");
    background-size:cover; /* 1920px 1080px; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    background-color: #EEC8E0/*rgb(57, 47, 90)*/;
    background-blend-mode: overlay;
}

.titulo {
    color: rgb(255, 0, 221);
    text-align: center;
    padding: 0.1rem;
    font-family: "Dancing Script", cursive;
    font-size: 6rem;
}

h2 {
    text-align: center;
    padding: 1rem;
    font-family: "Dancing Script", cursive;
    font-size: 2.5rem;
}

section {
    padding: 0.1rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel {
    justify-self: center;
}

.caja {
    width: 200vh;
    height: 50vh;
    background-color: #F092DD/*rgba(0, 247, 247, 0.596)*/;
    background-blend-mode:screen;
    text-align: center;
    border: 2px solid rgba(227, 0, 247, 0.842);
    margin: 0 auto;
    line-height: 100px;
}

.barra {
    
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 1rem;
    margin:0;
    box-sizing: border-box;
    text-align: center;
    font-family:"Winky Sans", sans-serif;
    list-style: none;
}

.boton {
    list-style: none;
}

li {
    list-style: none;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 250px);
    font-family:"Winky Sans", sans-serif;
    list-style: none;
    text-decoration: none;
    padding-top: 0rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-bottom: 0rem;
    justify-content:center; /*Horizontal*/
    align-items: center; /*Vertical*/
}

.cornalina {
    grid-column: 1/3;
    grid-row: 1;
    clip-path: circle(35% at 50% 50%);
}

.cornalina-texto {
    grid-column: 3/9;
    grid-row: 1;
    justify-content: center;
    text-align:start;
}

.cuarzo-rosa {
    grid-column: 6/9;
    grid-row: 2;
    clip-path: circle(25% at 50% 50%);
}

.cuarzorosa-texto {
    grid-column: 1/6;
    grid-row: 2;
    justify-content: center;
    text-align:end;
}

.cuarzo-verde {
    grid-column: 1/3;
    grid-row: 3;
    clip-path: circle(25% at 50% 50%);
}

.cuarzoverde-texto {
    grid-column: 3/9;
    grid-row: 3;
    justify-content: center;
    text-align:start;
}

.onix-cielo {
    grid-column: 6/9;
    grid-row: 4;
    clip-path: circle(25% at 50% 50%);
}

.onixcielo-texto {
    grid-column: 1/6;
    grid-row: 4;
    justify-content: center;
    text-align:end;
}

.onix-negro {
    grid-column: 1/3;
    grid-row: 5;
    clip-path: circle(25% at 50% 50%);
}

.onixnegro-texto {
    grid-column: 3/9;
    grid-row: 5;
    justify-content: center;
    text-align:start;
}

.esmeralda {
    grid-column: 6/9;
    grid-row: 6;
    clip-path: circle(25% at 50% 50%);
}

.esmeralda-texto {
    grid-column: 1/6;
    grid-row: 6;
    justify-content: center;
    text-align:end;
}

.selenita {
    grid-column: 1/3;
    grid-row: 7;
    clip-path: circle(25% at 50% 50%);
}

.selenita-texto {
    grid-column: 3/9;
    grid-row: 7;
    justify-content: center;
    text-align:start;
}

.sodalita {
    grid-column: 6/9;
    grid-row: 8;
    clip-path: circle(25% at 50% 50%);
}

.sodalita-texto {
    grid-column: 1/6;
    grid-row: 8;
    justify-content: center;
    text-align:end;
}

.turmalina {
    grid-column: 1/3;
    grid-row: 9;
    clip-path: circle(25% at 50% 50%);
}

.turmalina-texto {
    grid-column: 3/9;
    grid-row: 9;
    justify-content: center;
    text-align:start;
}

.presentacion {
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size: 1920px 1080px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

}

.etiquetas {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
    padding: 3rem;
}

.card-img-top {
    height: 200px;
    width: auto;
}




footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /*alinea los elementos que contiene el flex al ancho del contenedor y les aplica el espacio para que queden simétricos*/
    background-color: #392F5A/*#f700eb8c*/;
    background-blend-mode: overlay;
    background-position: bottom;
    color: rgb(255, 0, 221);
    padding: 1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("./img/font2.jpg");
    background-size: 1920px 1080px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}


/*--Media Querys!--*/
@media (min-width: 374px) and (max-width: 1024px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .barra {
        justify-content: space-around;
        /* justify-items: center;
        flex-direction: row; */
    }

    .catalogo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cornalina-texto {
        text-align:center;
    }

    .cuarzorosa-texto {
        text-align:center;
    }

    .cuarzoverde-texto {
        text-align:center;
    }

    .onixcielo-texto {
        text-align:center;
    }

    .onixnegro-texto {
        text-align:center;
    }

    .esmeralda-texto {
        text-align:center;
    }

    .selenita-texto {
        text-align:center;
    }

    .sodalita-texto {
        text-align: center;
    }

    .turmalina-texto {
        text-align:center;
    }
}

@media (min-width: 374px) and (max-width: 800px) {
    .etiquetas {
        display: grid;
        justify-items:center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 1rem;
        column-gap: 1rem;
        padding: 3rem;
    }

    .card {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
}

    /*grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 250px);
    font-family:"Winky Sans", sans-serif;
    list-style: none;
    text-decoration: none;
    padding-top: 0rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-bottom: 0rem;
    justify-content:center;
    align-items: center;
} */


/* .productos {
    size: 10px 20px;
/* } /*No*/

/* Paleta de colores:
#392F5A
#F092DD
#FFAFF0
#EEC8E0
*/

/*
$carousel-control-color:             $white;
$carousel-control-width:             15%;
$carousel-control-opacity:           .5;
$carousel-control-hover-opacity:     .9;
$carousel-control-transition:        opacity .15s ease;
$carousel-control-icon-filter:       null;

$carousel-indicator-width:           30px;
$carousel-indicator-height:          3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer:          3px;
$carousel-indicator-opacity:         .5;
$carousel-indicator-active-bg:       $white;
$carousel-indicator-active-opacity:  1;
$carousel-indicator-transition:      opacity .6s ease;

$carousel-caption-width:             70%;
$carousel-caption-color:             $white;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;

$carousel-control-icon-width:        2rem;

$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0'/></svg>");
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708'/></svg>");

$carousel-transition-duration:       .6s;
$carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)
*/